@tailwind base;
@tailwind components;
@tailwind utilities;

p {
  color: #dbdbdb;
}

input:invalid {
  border: red solid 3px;
}

.container-input-fields {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  margin: auto;
  /* width: 50%; */
  gap: 2rem
}

.container-input-fields div:nth-child(2) div {
  /* flex-direction: column; */
}

.input-fields {
  display: grid;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
  row-gap: 1rem;
  z-index: 1;
  max-width: 40rem;
}

#output-col {
  display: flex;
  flex-direction: column;
  /* flex-flow: column wrap; */
  flex-wrap: wrap;
  gap: 0.5rem;  
  max-width: 50vw;
  /* max-height: 60vh; */
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;

  justify-content: space-between;
  align-items: stretch;

}

#output-col ol {
  width: 70%;
}

#output-col ol li {
  /* width: 16%; */
  text-wrap:wrap;
  overflow-wrap: break-word;
}

#output-col code {
  flex-direction: column;
  flex-basis: calc(50% - 20px); /* Adjust based on gaps */
  margin: 10px;
}
#container-buttons {
  gap: 5px;
  display: flex;
  flex-direction: column; 
  justify-content: space-between;
}

#container-buttons button {
  border: 1px solid #777;
  border-radius: 6px;
  box-shadow: ivory 0px 0px 10px -8px;
  width: 10rem;
  color: #dbdbdb;
}

#container-buttons button:hover {
  background-color: #f0f0f028;
  box-shadow: ivory 0px 0px 10px -8px;
  transition: 250ms ease-in-out;

}

#about-text {
  letter-spacing: 2px;
}