.container-input-fields {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: auto;
  width: 50%;
}

.input-fields {
  display: grid;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
  row-gap: 1rem;
}